* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxes {
    width: 23%;
    
}

img {
    width: 100%;
    
}